.navbar-container {
  display: flex;
  justify-content: space-between;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 30;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  align-items: center;
  width: 100%;
  border-bottom: 2px solid #eeeeee;
}

.navbar-content {
  align-items: center;
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
}

.navbar-menu {
  gap: 7rem;
  align-items: center;
  width: 100%;
}

.navbar-buttons {
  width: 100%;
  align-items: center;
}

.nav-list {
  gap: 2rem;
  font-size: 1.05rem;
  line-height: 1.25rem;
  font-weight: 500;
}

.navbar-signup {
  gap: 2rem;
  font-size: 1.05rem;
  font-weight: 500;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  border: 3px solid #467787;
  padding: 1px 25px;
  display: inline-block;
  border-radius: 5px;
}

.selected-link {
  color: #000;
  border-bottom: 3px solid #467787; /* Подчеркивание */
  padding-bottom: 0.3rem;
}

.normal-link {
  color: #000;
  transition: color 0.5s;
}

.normal-link:hover {
  color: #467787; 
}

.button-40 {
  background-color: #467787;
  border: 1px solid transparent;
  border-radius: 0.6rem;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 550;
  line-height: 1.3rem;
  padding: 0.5rem 2rem;
  text-align: center;
  transition-duration: 0.2s;
  width: auto;
}

.button-40:hover {
  background-color: #2f5c6b;
}

.highlight-text:hover {
  color: #467787;
}
