.navbar-container {
  display: flex;
  justify-content: space-between;
  color: white;
}

.navbar {
  position: fixed;
  top: 0;
  z-index: 30;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  align-items: center;
  width: 100%;
  background-color: #467787;

}

.navbar-content {
  align-items: center;
  width: 83.333333%;
  margin-left: 20px;
  margin-right: 20px;
}

.navbar-menu {
  gap: 4rem;
  align-items: center;
  width: 100%;
}

.navbar-buttons {
  width: 100%;
  align-items: center;
}

.nav-list {
  gap: 2rem;
  font-size: 1rem;
  line-height: 1.25rem;
}

.logo {
  width: 8%;
  height: auto; 
}